:root {
  --link-color: #fff;
  --heading-font-famiky: 'Raleway', sans-serif;
}

.global-header {
    background-color: #333333;
}

.global-header .main-navigation a:link,
.global-header .main-navigation a:visited {
    color: var(--link-color);
}

.global-header .main-navigation a:hover {
    color: #FF6C00;
}

.global-header .main-navigation a:active {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:var(--heading-font-famiky);
    font-weight: 700;
}